---
api_url: "https://{{st2_web_subdomain}}.{{st2_domain}}/api/"
auth_url: "https://{{st2_web_subdomain}}.{{st2_domain}}/auth/"

# auth_token will expire per token_ttl specifed in stackstorm
# configuration and will require a refresh.
auth_token: ""
